body{
  margin: 0px;
  background-color: #F4F4F4;
  color: #926239;
 }

.welcome-section{
  height: 100Vh;

  background-image: url(./../images/beachshowcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;

  text-align: center;
  padding-top: 10%;

  .welcome-section-heading{
    font-family: Arial;
     }

 }
.span{
  padding: 15px;

  border-top-color: #926239;
  border-style: solid;
  border-width: 1px;
  border-radius: 10%;
 }

.welcome-section-link{
  color: inherit;
  cursor: pointer;
  ;
}
.solid-text{
  padding: 10px;

  text-align: justify;

}
.dark-background{
border-top-color: #926239;
border-style: solid;
border-width: 1px;
background-color: #926239;
color: #F4F4F4;

}