body{
  margin: 0px;
  background-color: #F4F4F4;
  color: #926239;
 }

.welcome-section{
  height: 100Vh;

  background-image: url(./../images/beachshowcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;

  text-align: center;
  padding-top: 10%;

  .welcome-section-heading{
    /* font-family: display: ;; */
     }

 }

.welcome-section-link{
  border-style: 5px dotted #926239;
  color: inherit;
   cursor: pointer;
  ;
}
.solid-content{
   padding: 10px;
  text-align: justify;

}
.dark-background{
  padding: 10px;
border-top-color: #926239;
border-style: solid;
border-width: 1px;
background-color: #926239;
color: #F4F4F4;
}
.bloc-content{
  width: 30vw;
 display: bloc-content;
 padding: 10px;
 border:10px solid lime;


}